html {
  background: #018ded url(images/time02.jpg) no-repeat center center;
  background-size: cover;
  font-family: "helvetica neue";
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid white;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px; /*0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2); */
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translate(-6px); /* account for the height of the clock hands */
}

.hand {
  width: 50%;
  height: 6px;
  background: rgba(226, 226, 226, 0.8);
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.hour-hand {
  width: 40%;
  position: absolute;
  left: 30px;
  transform-origin: 100%;
  transform: translateY(-10px);
  transform: rotate(90deg);
}
.second-hand {
  background-color: crimson;
}
.center {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rgb(27, 189, 253);
  position: absolute;
  top: 47%;
  left: 45%;
}

/* Snow*/

.snow-bg {
  position: relative;
}

.snow-bg:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-image: url("https://library.elementor.com/resources/christmas-snow-effect/s1.png"),
    url("https://library.elementor.com/resources/christmas-snow-effect/s2.png"),
    url("https://library.elementor.com/resources/christmas-snow-effect/s3.png");
  animation: snow 10s linear infinite;
}

@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px;
  }
}
